@charset "utf-8";

@font-face {
    font-family: 'Helvetica';
    src: url(../font/Helvetica.ttf) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Panchang';
    src: url(../font/Panchang-Bold.otf) format('woff');
    font-weight: 400;
    font-style: normal;
}